.backdrop{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000e1;
    background-image: linear-gradient(
      to bottom right,
      rgb(31, 6, 100),
      rgb(74, 5, 114)
    );
}