*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.motion{
    display: flex;
    align-items: center;
    place-content: center;
    height: 100vh;
    background-image: linear-gradient(
      to bottom right,
      rgb(18, 5, 54),
      rgb(74, 5, 114)
    );
    color: white;
    font-family: "Source Sans Pro", sans-serif;
}
.btn1 {
    height: 42px;
    width: 256px;
    border-radius: 24px;
    font-family: "Source Sans Pro", sans-serif;
    color: black;
    border: none;
    font-size:2rem;
  }
  